# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
.pnp
.pnp.js

# Production build directories
dist
dist-ssr
build

# Static directory for Vite
public/static

# Ignore env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellaneous
.vscode/*
.history
.npm
.cache
.parcel-cache
coverage

# System files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Temporary files
tmp
temp
*.tmp
*.temp

# IntelliJ IDEA
.idea/
*.iml
out/
